<!DOCTYPE html>
<html>
  <head>
    <title>Quoted</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'nav-bundle', 'main-bundle' %>
    <%= stylesheet_pack_tag 'main-bundle' %>
  </head>

  <body>

    <header>header</header>

    <nav>
      <%= yield :nav %>
    </nav>

    <main>
      <%= yield :main %>
    </main>

    <footer>footer</footer>

    
  </body>
</html>

<%#= yeild embedded ruby syntax content of the view being rendered is inserted here %>
